.search__bar {
  border-radius: 5px;
  opacity: 0.6;
  border: none;
  height: 2rem;
  font-size: 1.5rem;
  padding: 0.55rem;
  max-width: 1000px;
}

.search__bar:focus {
  border: none;
  outline: none;
}

.search__erro {
  /* position: absolute; */
  width: 100vw;
  box-sizing: border-box;
  background-color: #dc2326;
  text-align: center;
  color: white;
  display: block;
  padding: 3px;
}
